// configuration for eyesee web interface

var CFG = {
    "max_age": 1, // days - how many days to display in single page
    "type": 'img', // default media to display: img or vid
    "camera": "driveway", // default camera
    "cameras": [
        { "camera_id": '192.168.0.20', "camera_label": 'porch' },
        { "camera_id": '192.168.0.21', "camera_label": 'driveway' },
        { "camera_id": '192.168.0.22', "camera_label": 'garage' }
    ]
};
